.modal-container::backdrop {
  background-color: hsl(0 0% 0% / 50%);
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-container {
  min-width: max-content;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  position: relative;
  flex-flow: column nowrap;
}

.modal-icon {
  padding: 0.5rem;
  border: 0.2rem solid lightgray;
  border-radius: 5px;
  font-size: x-large;
}

.modal-close-icon {
  font-size: x-large;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.modal-title {
  font-size: large;
  font-weight: 500;
}

.modal-description {
  font-size: large;
  color: #717a8b;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: start;
  gap: 0.5rem;
}

.modal-content-child {
  margin: 0.75rem 0;
}
