.bar-card-container {
    background-color: white;
    padding: 1.5rem;
    text-align: left;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.bar-card-content-container{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: start;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 1rem 0;
    align-content: center;
}

.bar-card-bar-track{
    align-self: center;
    height: 0.5rem;
    background-color: #F3F4F9;
    border-radius: 0.25rem;
}

.bar-card-data-header{
    font-weight: 600;
}

.bar-card-progress{
    height: 0.5rem;
    border-radius: 0.25rem;
}

.bar-card-title{
    font-weight: 600;
    font-size: 1.35rem;
}