

.app-left-pane {
    flex: 1.5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.app-right-pane {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.data-card-container{
    text-align: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.day-analytic-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}